/* url: http://stopsopa.github.io/submod/elkanatooltip/generator.html?permalink=() */
.elkanatooltip {
    display: none;
    z-index: 100;
    position: absolute;
}
.elkanatooltip.a-show {
    display: inline-block;
    opacity: 0;
}
.elkanatooltip.a-start.a-anim {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.elkanatooltip[class*=" v-"].a-start.a-stop,
.elkanatooltip[class*=" h-"].a-start.a-stop,
.elkanatooltip[class^="v-"].a-start.a-stop,
.elkanatooltip[class^="h-"].a-start.a-stop,
.elkanatooltip.a-start.a-anim.a-stop {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0.93;
}
.elkanatooltip > div {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    border: 1px solid #333333;
}
.elkanatooltip > i {
    position: absolute;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    border: 7px transparent solid;
}
.elkanatooltip > i:before {
    content: "";
    position: absolute;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    border: 5px transparent solid;
}
.elkanatooltip[class^="hc-"][class*=" vc-"] > i,
.elkanatooltip[class^="vc-"][class*=" hc-"] > i,
.elkanatooltip[class*=" vc-"][class*=" hc-"] > i {
    border: none;
}
.elkanatooltip[class^="hc-"][class*=" vc-"] > div,
.elkanatooltip[class^="vc-"][class*=" hc-"] > div,
.elkanatooltip[class*=" vc-"][class*=" hc-"] > div {
    margin: 3px;
}
.elkanatooltip.v-b.a-start {
    -ms-transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
}
.elkanatooltip.v-b > div {
    margin-bottom: 9px;
}
.elkanatooltip.v-b > i {
    border-top: 7px #333333 solid;
    border-bottom: none;
    bottom: 3px;
}
.elkanatooltip.v-b > i::before {
    border-top: 5px #ffffff solid;
    border-bottom: none;
    bottom: 0px;
    -ms-transform: translate(-5px, -2px);
    -webkit-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
}
.elkanatooltip.v-t.a-start {
    -ms-transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
}
.elkanatooltip.v-t > div {
    margin-top: 9px;
}
.elkanatooltip.v-t > i {
    border-bottom: 7px #333333 solid;
    border-top: none;
    top: 3px;
}
.elkanatooltip.v-t > i::before {
    border-bottom: 5px #ffffff solid;
    border-top: none;
    top: 0px;
    z-index: 101;
    -ms-transform: translate(-5px, 2px);
    -webkit-transform: translate(-5px, 2px);
    transform: translate(-5px, 2px);
}
.elkanatooltip.h-r.a-start {
    -ms-transform: translate(-10px, 0px);
    -webkit-transform: translate(-10px, 0px);
    transform: translate(-10px, 0px);
}
.elkanatooltip.h-r > div {
    margin-right: 9px;
}
.elkanatooltip.h-r > i {
    border-left: 7px #333333 solid;
    border-right: none;
    right: 3px;
}
.elkanatooltip.h-r > i::before {
    border-left: 5px #ffffff solid;
    border-right: none;
    right: 0px;
    z-index: 101;
    -ms-transform: translate(-2px, -5px);
    -webkit-transform: translate(-2px, -5px);
    transform: translate(-2px, -5px);
}
.elkanatooltip.h-l.a-start {
    -ms-transform: translate(10px, 0px);
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
}
.elkanatooltip.h-l > div {
    margin-left: 9px;
}
.elkanatooltip.h-l > i {
    border-right: 7px #333333 solid;
    border-left: none;
    left: 3px;
}
.elkanatooltip.h-l > i::before {
    border-right: 5px #ffffff solid;
    border-left: none;
    left: 0px;
    -ms-transform: translate(2px, -5px);
    -webkit-transform: translate(2px, -5px);
    transform: translate(2px, -5px);
}
.elkanatooltip.h-l.v-b > i::before,
.elkanatooltip.h-l.v-t > i::before,
.elkanatooltip.h-r.v-b > i::before,
.elkanatooltip.h-r.v-t > i::before {
    display: none;
}
body span.elkanatooltip.test {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 7px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}